@import "style";

.form_container {
  position: relative;
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin: auto;
  height: 20px;
  padding: 22px;
  bottom: 30px;
  background: linear-gradient(179deg, #176eb5, #d545d7);

  .form_input {
    margin-left: 20px;
    width:95%;
    padding-top: 7px;
    position: absolute;
    bottom: 3px;

    .input {
      width: 88%;
      @include padding(10px);
      @include box-shadow(0px 8px 32px 0px, rgba(31, 38, 135, 0.37));
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(8px);
      border: 1px solid rgba(255, 255, 255, 0.18);
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: white;
        font-weight: 600;
      }
    }
    button {
      margin-left: 25px;
      @include padding(10px);
      @include box-shadow(0px 8px 32px 0px, rgba(31, 38, 135, 0.37));
      border-radius: 10px;
      background: rgba(255, 255, 255, 0.3);
      backdrop-filter: blur(8px);
      border: 1px solid rgba(255, 255, 255, 0.18);
      cursor: pointer;
      @include font(13px, #fff, 600)
    }
  }
}

